@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../variants.css";

html,
body,
code,
kbd,
samp,
pre {
  font-family: "Pretendard", sans-serif;
}

.secondary-nav-container {
  
  /*green - lime*/
  --start: #cbffe2;
  --first: #edffff;
  --end: #fffed7;

 background: radial-gradient(
    20rem 100% at 10% 0,
    var(--start) 0,
     /*var(--first) 42.5%, */ var(--end) 100%
  );
  
  border-radius: 0.75rem;
  transition: all 0.25s ease-in-out;
}
.background-color {background: #fffff6}
.background-color-purple {background-color: #fff7ff}
.background-color-orange {background-color:#fff8f4}
.background-color-mint {background-color:#fafafa}
.background-color-blue {background-color:#fafafa}

.secondary-nav-container-mint {
  /*mint-purple*/
  --start: #d8fdf2;
  --first: #f0fffa;
  --end: #fff4fd;
  background: radial-gradient(
    20rem 100% at 10% 0,
    var(--start) 0,
     var(--first) 42.5%,  var(--end) 100%
  ); 
  
  border-radius: 0.75rem;
  transition: all 0.25s ease-in-out;
}
.secondary-nav-container-blue {
  --start: #defffe;
  --first: #edf4ff;
  --end: #f6f9fd;
  background: radial-gradient(
    20rem 100% at 10% 0,
    var(--start) 0,
     var(--first) 42.5%,  var(--end) 100%
  ); 
  
  border-radius: 0.75rem;
  transition: all 0.25s ease-in-out;
}
.secondary-nav-container-purple {
  --start: #fce4f7;
  --first: #fdcbf1;
  --end: #e7d7ee;
  background: radial-gradient(
    20rem 100% at 10% 0,
    var(--start) 0,
     var(--first) 42.5%,  var(--end) 100%
  ); 
  
  border-radius: 0.75rem;
  transition: all 0.25s ease-in-out;
}
.secondary-nav-container-orange {
  --start: #ffb9c5;
  --first: #fdd6bd;
  --end: #fce8db;
  background: radial-gradient(
    20rem 100% at 10% 0,
    var(--start) 0,
     var(--first) 42.5%,  var(--end) 100%
  ); 
  
  border-radius: 0.75rem;
  transition: all 0.25s ease-in-out;
}

.dt-layout-row:has(.dt-search),
.dt-layout-row:has(.dt-length),
.dt-layout-row:has(.dt-paging),
.dt-column-order {
  display: none !important;
}

